body {
	width: 100%;
	margin: 0;
	background-image: url(web-asset/bg.jpg);
	font-family: "Open Sans";
}


/*css header*/

header{
	background-color: #1F3437;
	position: fixed;
	display: grid;
	height: 50px;
	display: block;
	width: 100%;
	top:0px;
	grid-column: 1fr 2fr 1fr;
	padding-bottom: 5px;
	z-index: 2;
}

#logo{
	border-radius: 5px;
	height: 40px;
	position: relative;
	top: 5px;
	left: 5px;
	float: left;
}

#pencarian{
	float: left;
	display: grid;
	margin-left: 4%;
	margin-top: 0.5%;
	width: 60%;
	grid-template-columns: 1fr 10fr;
}

label{
	font-size: 25px;
	margin-right: 8px;
	padding-top: 5px;
	font-family: "Open Sans";
	font-size: 20px;
	color: #11797E;
}

input{
	margin-top: 5px;
	border: none;
	height: 25px;
    background: transparent;
    border-bottom: 1px solid #bbb;
    outline: none;
	color: #11797E;
    font-size: 20px;
	font-family: "Open Sans";
}

#masuk{
	float: right;
	margin-right: 0.5%;
	font-family: "Roboto Condensed";
}

li {
	display: inline;
}

ul a{
	border: solid;
	border-color: #37231F;
	border-radius: 5px;
	text-decoration: none;
	color: #11797E;
	background-color: #1F3437;
	padding: 7px;
	margin: 2px;
}

#masuk a:hover {
	border-color: #bbb;
	color: white;
	background-color: #11797E;
}

/*section title*/

h2{
	color: #94ECF0;
	margin-left: 25px;
}

 #hottest{
	position: relative;
	top: 120px;
 }


/*css card*/

.grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	position: relative;
	top: 130px;
}

.card{
	display: inline-block;
	position: relative;
	left: 75px;
	width: 200px;
	height: 346px;
	background-color: #37231F;
	border-radius: 35px;
}

.card img{
	width: 200px;
	height: 250px;
	border-radius: 35px 35px 0px 0px;
}

.data{
	display: block;
	position: relative;
	top: -20px;
	color: white;
}
.data h4, .data h5 {
	font-family: "Open Sans";
	position: relative;
	left: 5px;
	color: #94ECF0;
}
.data h5{
	top: -20px;
	padding-bottom: 5px;
}

.data .button{
	font-family: "Open Sans";
	display: block;
	text-decoration: none;
	text-align: center;
	color: #94ECF0;
	position: relative;
	top: -40px;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 0px 0px 35px 35px;
}

.button:hover{
	background-color: #1F3437;
	color: white;
}

/*section lastest*/

.section{
	width: 100%;
	display: block;
	position: relative;
	top: 200px;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
}

/*section comic*/
.section table{
	color: #11797E;
	width: 270px;
	height: 150px;
	background-color: #37231F;
	border-radius: 10px;
	margin: 30px;
}
.section img{
	width: 100px;
	height: 150px;
	padding-top: 4px;
	padding-left: 4px;
	border-radius: 10px;
}
#chapter, #title{
	font-size: 18px;
	padding-left: 13px;
	font-family: "Roboto Condensed";
	text-decoration: none;
	color: #11797E;
}
#title{
	font-size: 25px;
	padding-left: 10px;
}
#title:hover, #chapter:hover{
	color:  #94ECF0;
}

.genre{
	text-align: center;
	background-color: #37231F;
	margin:30px;
	border-radius: 10px;
	height: 250px;
}
#genre{
	display: inline-block;
	height: 175px;
	width: 100px;
	margin: 9px;
	background-color: #1F3437;
	border-radius: 10px;
}
#genre img{
	padding: 0px;
	border-radius: 10px 10px 0px 0px;
}
#genre a{
	font-family: "Roboto Condensed";
	text-decoration: none;
	color: #11797E;
	position: relative;
	top: -4px;
}
#genre a:hover{
	color:  #94ECF0;
}